/**
*
*    Name: main.scss
*
**/
@import url(./lib/bootstrap.min.css);
@import url(./lib/fontawesome-all.min.css);
/**
*
*    Name: style.scss
*
**/
body {
  background: #0c0c0f;
  display: flex;
  color: #fff;
  font-weight: 600;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto;
  display: flex;
  position: relative; }

.header {
  align-items: center;
  min-height: 130px; }

nav {
  background: #000;
  color: #999; }
  nav .forecast {
    display: flex;
    align-items: center; }
    nav .forecast p {
      margin: 0;
      padding: 0 30px; }
    nav .forecast #getData {
      background: #101014;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;
      cursor: pointer; }
      nav .forecast #getData:focus {
        outline: none; }
      nav .forecast #getData:hover {
        background: #0074c9; }
    nav .forecast .weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0; }
      nav .forecast .weather img {
        width: 50px;
        height: 50px; }
      nav .forecast .weather__conditions {
        text-transform: capitalize; }
  nav .active {
    color: #f03102; }

.time {
  color: #fff;
  padding: 10px 25px;
  width: 320px; }

.page {
  display: flex;
  width: 100%;
  position: relative; }
  .page__sidebar {
    width: 200px;
    height: 100%;
    background: #303030;
    position: fixed;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center; }
  .page__inner {
    width: 100%;
    text-align: center;
    color: #fff;
    padding-left: 200px;
    position: relative;
    margin: 30px 0; }
    .page__inner .title {
      font-size: 25px; }
    .page__inner input {
      border-radius: 30px;
      height: 50px;
      margin: 20px;
      color: #fff;
      background: #101014;
      outline: none;
      padding: 0 20px; }
      .page__inner input:focus::placeholder {
        color: transparent; }
    .page__inner .button #btn {
      border: none;
      height: 50px;
      padding: 0 20px;
      color: #fff;
      font-weight: 600;
      outline: none;
      background: #a21d1d;
      cursor: pointer;
      border-radius: 5px; }
    .page__inner .promise-test {
      margin: 0 30px; }
      .page__inner .promise-test .progress-bar {
        width: 100%;
        height: 6px;
        border-radius: 30px;
        margin-bottom: 20px; }
        .page__inner .promise-test .progress-bar .indicator {
          transition: all 1s linear;
          height: 100%;
          width: 0%;
          background: #a21d1d; }
      .page__inner .promise-test .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 290px;
        margin-bottom: 50px;
        overflow: hidden; }
        .page__inner .promise-test .item__content {
          display: flex;
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          border: 1px solid #fff;
          text-align: left; }
          .page__inner .promise-test .item__content p {
            margin: 0;
            transition: all 1s; }
          .page__inner .promise-test .item__content img {
            max-width: 300px;
            height: 200px;
            margin-right: 50px; }
    .page__inner .table-wrapper {
      padding: 30px; }
    .page__inner .table {
      margin: 20px auto;
      border: 1px solid #000; }
      .page__inner .table tr,
      .page__inner .table td {
        border: 1px solid #000; }
      .page__inner .table td {
        cursor: pointer;
        transition: all .2s; }
        .page__inner .table td:hover {
          background: #a21d1d; }
    .page__inner .resolution {
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 30px;
      padding: 5px 20px;
      background: #303030; }
    .page__inner .tab {
      animation: fade 1s; }

.slider-wrapper {
  overflow: hidden;
  position: relative; }
  .slider-wrapper .slider {
    width: 100%;
    position: relative;
    display: flex;
    transition: all 1s; }
    .slider-wrapper .slider .slide {
      width: 100%;
      flex-shrink: 0;
      transition: transform 1s, opacity .5s; }
      .slider-wrapper .slider .slide img {
        max-height: 480px;
        padding: 15px; }
  .slider-wrapper button {
    border-radius: 3px;
    border: none;
    outline: none;
    transition: all .3s;
    height: 40px;
    min-width: 100px;
    font-weight: 600;
    margin: 20px;
    cursor: pointer; }
    .slider-wrapper button:hover {
      box-shadow: 1px 5px 10px #000;
      background: #0074c9;
      color: #fff; }

.slider-pagination {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center; }

.slider-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #f00;
  display: block;
  border-radius: 50%; }

.page-footer {
  background: #101014;
  padding: 10px 30px;
  z-index: 2;
  text-align: right; }
  .page-footer__content {
    justify-content: flex-end;
    width: 100%;
    display: flex; }
    .page-footer__content .timer {
      margin: 0 20px;
      cursor: default;
      transition: all .3s; }
      .page-footer__content .timer:hover {
        color: #a21d1d; }

.ui-button {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #025896, #0074c9);
  padding: 0 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  transition: all .3s; }
  .ui-button:hover {
    box-shadow: 1px 5px 10px #000; }
  .ui-button:focus {
    outline: none; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#searchTextField {
  border-radius: 3px;
  height: 50px;
  margin: 20px;
  color: #fff;
  background: #101014;
  outline: none;
  border: none;
  padding: 0 20px;
  transition: all .3s; }
  #searchTextField:focus {
    background: #1f1f23; }
    #searchTextField:focus::placeholder {
      color: transparent; }

.pac-logo {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: #303030;
  font-size: 14px;
  border-radius: 3px; }
  .pac-logo::after {
    display: none; }
  .pac-logo .pac-item {
    transition: all .3s;
    padding: 6px 5px;
    cursor: pointer;
    font-size: 12px; }
    .pac-logo .pac-item:hover {
      background: #0074c9; }
    .pac-logo .pac-item .pac-item-query {
      font-size: 14px;
      color: #fff;
      margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
