/**
*
*    Name: style.scss
*
**/

//-------- Index --------

body {
    background: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

nav {
    background: rgba(0, 0, 0, .85);
    color: #999;
    
    .logo {
        font-size: 25px;
        transition: all .2s;
        color: #999;
        &:hover {
            color: #fff;
        }
    }
    
    .nav-link {
        color: #999;
        transition: all .2s;
        &:hover {
            color: #fff;
        }
    }
    
    .active {
        color: #f03102;
    }
}

.page {
    display: flex;
    height: 100%;
    
    &__sidebar {
        width: 10%;
        position: absolute;
        min-width: 100px;
        background: #303030;
        height: 100%;
        padding: 10px;
        
        .nav {
            height: 100%;
            .nav-item {
                text-align: center;
                margin: 10px 0;
                
                a {
                    color: #f3f3f3;
                    transition: all .2s;
                    &:hover {
                        color: #aa863a;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    &__inner {
        width: 100%;
        text-align: center;
        color: #f3f3f3;
        padding-left: 10%;
        
        .spinner {
            width: 50px;
            height: 50px;
            background: #f9482a;
            margin: 0 auto;
            transition: all .2s;
            cursor: pointer;
        }
        
        .title {
            font-size: 25px;
        }
        
        .content {
            padding: 20px;
        }
    }
}

.page-footer {
    background: #aa863a;
    bottom: 0;
    padding: 10px;
    text-align: center; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}
