/**
*
*    Name: style.scss
*
**/

//-------- Index --------

body {
    background: #0c0c0f;
    display: flex;
	color: #fff;
	font-weight: 600;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
	display: flex;
    position: relative;
}

nav {
    background: rgba(0, 0, 0, .85);
    color: #999;
    
    .logo {
        font-size: 25px;
        transition: all .2s;
        color: #999;
        &:hover {
            color: #fff;
        }
    }
    
    .nav-link {
        color: #999;
        transition: all .2s;
        &:hover {
            color: #fff;
        }
    }
    
    .active {
        color: #f03102;
    }
}

.page {
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    
    &__sidebar {
        width: 10%;
        position: absolute;
        min-width: 100px;
        background: #303030;
        height: 100%;
        padding: 10px;
        
        .nav {
            height: 100%;
            .nav-item {
                text-align: center;
                margin: 10px 0;
                
                a {
                    color: #f3f3f3;
                    transition: all .2s;
                    &:hover {
                        color: #aa863a;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    &__inner {
        width: 100%;
        text-align: center;
        color: #f3f3f3;
        
        .title {
            font-size: 25px;
        }
        
        .content {
            padding: 20px;
        }
		
		input {
			border-radius: 30px;
			height: 50px;
			margin: 20px;
			color: #fff;
			background: #101014;
			outline: none;
			padding: 0 20px;
			&:focus {
				&::placeholder {
					color: transparent;
				}
			}
		}
		
		.button {
			#btn {
				border: none;
				height: 50px;
				padding: 0 20px;
				color: #fff;
				font-weight: 600;
				outline: none;
				background: #a21d1d;
				cursor: pointer;
				border-radius: 5px;
			}
		}
		
		.table-wrapper {
			padding: 30px;
		}
		
		.table {
			margin: 20px auto;
		  	border: 1px solid #000;
		  	tr, 
			td {
				border: 1px solid #000;
			}
			td {
				cursor: pointer;
				transition: all .2s;
				&:hover {
					background: #a21d1d;
				}
			}
		}
		
		.time {
			position: absolute;
			top: 20px;
			left: 20px;
		}
    }
}

.page-footer {
    background: #101014;
    bottom: 0;
    padding: 10px;
    text-align: center; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}
